*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#jump{
  padding:12px 12px;
  background:#00ccff;
  border:1px solid black;
  font-weight:bold;
  width:100%;
  text-align:center;
}
.layar{
  display:flex;
  align-items:center;
  border:1px solid red;
  justify-content:center;
  background:#444;
  text-align:center;
  height:30vh;
  font-size:40px;
  color:red;
}